/* .sidebar { 
    background: #0d6efd; 
    color: white; 
    padding: 1rem; }

.sidebar .nav-link { 
    color: rgba(255,255,255,0.9); }

.sidebar .nav-link.active { 
    background: rgba(255,255,255,0.08); 
    border-radius: 8px; 
    color: white; } */

body {
    background-color: #f7f3ff; }

/* Log */

.table-sm {
    background-color: #f7f3ff;
}

/* .table-striped>thead>tr:nth-of-type(odd)>th {
    background-color: #bda6f5; 
    color: #2d1b52;           
}

.table-striped>tbody>tr:nth-of-type(odd)>th,
.table-striped>tbody>tr:nth-of-type(odd)>td {
    background-color: #ede4ff;
}

.table-striped>tbody>tr:nth-of-type(even)>th,
.table-striped>tbody>tr:nth-child(even)>td {
    background-color: #f7f3ff;
} */
