.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3 ease;
	z-index: 5000;
}

.overlay.active {
	visibility: visible;
	opacity: 1;
}

.overlay.active ~ body {
	filter: blur(4px);
}
