.sidebar {
	position: fixed;
	width: 275px;
	height: 100vh;
	left: -275px;
	top: 0;
	background-color: #a78bfa;
	transition: left 0.3s ease-in-out;
	z-index: 10000;
}

.sidebar.expanded {
	left: 0;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}

.sidebar-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.0);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3 ease;
	z-index: 9998;
	filter: blur(8px);
}

.sidebar-overlay.active {
	opacity: 1;
	visibility: visible;
}

.nav-content {
	padding: 20px;
}

.nav-content a {
	font-size: 20px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	transition: all 0.1s ease;
}

.nav-content a:hover {
	background-color: rgba(255,255,255,0.3);
}

.toggle-btn {
	padding: 0;
	font-size: 20px;
	color: white;
	background-color: rgba(255,255,255,0.2);
	border: none;
	width: 30px;
	height: 30px;
}

#outter-tog {
	z-index: 9999;
	position: fixed;
	top: 10px;
	left: 10px;

	color: silver;
	border-radius: 10px;
	border: solid 1px silver;
	background-color: transparent;
	transition: all 0.2s ease-in-out;
}

#outter-tog:hover {
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
}

#inner-tog {
	color: white;
	border-radius: 10px;
	border: solid 1px rgba(255,255,255,0.3);
	background-color: rgba(255,255,255,0.1);
}

.logo {
	height: 30px;
	width: 95%;
	z-index: 10001;
	justify-content: center;
	display: flex;
	padding: 5px;
}

.logo-pic {
	height: 30px;
	width: 35px;
}

.logo-name {
	height: 28px;
}
