.sidebar {
	position: fixed;
	width: 150px;
	height: 100vh;
	left: -150px;
	top: 0;
	background-color: blue;
	transition: left 0.3s ease-in-out;
	z-index: 10000;
}

.sidebar.expanded {
	left: 0;
}

.nav-content {
	padding: 20px;
}

.nav-content a {
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
}

.toggle-btn {
	padding: 0;
	font-size: 50px;
	color: white;
	background-color: rgba(255,255,255,0.2);
	border: none;
	width: 50px;
	height: 50px;
}

.logo {
	flex: 1;
	background-image: url('../../images/Firewall_Wizard_Hat_NoBackground.png');

}

.name {
	flex: 2;
	background-image: url('../images/Firewall_Wizard_Nome.png');
}
